#mainNav {
	background-color: #ffffff;
}

li a {
	font-size: 1.2rem;
	font-family: Lato;
	font-weight: 300;
}

div.leftMargin {
	margin-left: 40%;
	margin-right: -40%;
}

p.leftMargin {
	margin-left: -5%;
	margin-right: 5%;
}

